.subtitle span i{
	margin: 0rem 1.5rem;
	display: inline-block;

}
tr {border-bottom: 1px solid #e8e8e8;}
th, td {padding: 15px 10px !important;font-size: 12px;}
.tabst {
z-index: 1;
position: absolute;
left: 0;
bottom: 1px;
box-sizing: border-box;
height: 2px;
bottom: 0;
background-color: #2e2f47;
-ms-transform-origin: 0 0;
transform-origin: 0 0;
}

@media screen and (max-width: 768px){
	.tabst {
	position: inherit!important;
	margin-top: -0.0625rem;
	}
	.subtitle span i{
	margin: 0rem 2rem;
	display: inline-block;

	}
}
.arrow-up{
	text-align: center;
}
.arrow-down{
	text-align: center;
}
.aa_show a.two{
  display:block;
}
.aa_hide a.two{
  display:none;
}
div a i{
	width: 19px;
	height: 19px;
}