.nav-text{
	font-size:14px;
	font-family:Source Han Sans CN;
	font-weight:400;
	color:rgba(255,255,255,1);
}

.nav-text:after {
	content:'';
	display:block;
	width:100%;
	margin-top:-5px;
	/* padding-bottom: 3px; */
	border-bottom:2px solid #141414;
}

.nav-index{
	font-size:14px;
	font-family:Source Han Sans CN;
	font-weight:400;
	color:rgba(255,255,255,1);
	
}
.nav-index:after {
	content:'';
	display:block;
	width:100%;
	margin-top:-2px;
	/* padding-bottom: 3px; */
	border-bottom:2px solid #FFFFFF;
}

.in{
	margin-left: 80%;
	width: 40%;
	margin-top: -20px;
	float: left;
}
.in input{
	width: 20%;
	border-radius:4px;
	border: 0px;
	font-size:11px;
	font-family:Source Han Sans CN;
	font-weight:400;
	color:rgba(102,102,102,1);
	height: 26px;
	padding-right: 22px;
	padding-left: 5px;
}
.wid-75{
	width: 75rem;
	margin: 0 auto;
}
.ant-bread{
	height:17px;
	font-size:17px;
	font-family:Source Han Sans CN;
	font-weight:500;
	color:rgba(0,0,0,1);
	line-height:20px;
}
.ant-bread a{
	height:17px;
	font-size:17px;
	font-family:Source Han Sans CN;
	font-weight:500;
	color:rgba(0,0,0,1);
	line-height:20px;
}

@media screen and (max-width: 768px) {
	.wid-75{
		display: none;
	}	
}

	