<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<title>Wisdom Public Chain主链浏览器</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/account.css" />
		<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.css"/>
		<link rel="stylesheet" href="./css/index.css" />
		<link rel="stylesheet" href="./css/index_vendors.css" />
		<link rel="stylesheet" type="text/css" href="css/assets.css"/>
		<link rel="stylesheet" type="text/css" href="css/nav.css"/>
		<script src="js/jquery.min.js"></script>
		<script src="js/template.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.css"/>
		<style type="text/css">
			.arrow:before {
			 float: right;
			 width: 20px;
			 text-align: center;
			 display: inline;
			 font-size: 16px;
			 font-family: FontAwesome;
			 height: auto;
			 content: "f104";
			 font-weight: 300;
			 text-shadow: none;
			 position: absolute;
			 top: 4px;
			 right: 14px;
			 color: #990;
			}
			.arrow.open:before{
			content: 'f107';
			}
		</style>

		
	</head>
	<body>
		<div id="page_header"></div>
		<script>
		  $("#page_header").load("header.html");
		 </script>
		<div class="clear">

		</div>
		
		<div class="con-box" style="margin-left: 0rem;">
			<div class="wid-1200">
				<div class="wid-75">
					<div class="cont">
						<div class="ant-bread">
							<a href="index.html">
								<i></i>
								<span>首页</span></a>
							<span class="arrows">></span>
							<a href="assets.html"><span>资产</span></a>
							<span class="arrows">></span>
							<span>资产详情</span>
							<span class="in">
								<input type="text"placeholder="Address/Trading hash" style="width:50%;height:26px;"/>
								<a style="min-width: 2%;"><i class="fa fa-search"style="margin-left: -24px;"></i></a>
							</span>
						</div>
					</div>
				</div>

				<div class="blocks" style="margin-top: 2em;">
					
					<h3 class="h3"><span>资产详情</span></h3>

					<div class="subtitle">
						<span>概况</span>
						<div class="tabs" style="display: block; transform: translate3d(0px, 0px, 0px); width: 60px;"></div>
					</div>
					
					<section class="section">
						<div id="blocks_data_List">
						<script type="text/json" id="tpl">
						<ul>
							<li class="licss" style="padding: 10px 20px;margin-bottom: 2px;">
								<span style="width: 30%;">资产名称</span>
								<span><%=obj.code%></span>
							</li>
							<li class="licss" style="padding: 10px 20px;margin-bottom: 2px;">
								<span style="width: 30%;">初期发行量</span>
								<span><%=obj.offering%></span>
							</li>

						 	<li class="licss" style="padding: 10px 20px;margin-bottom: 2px;">
								<span style="width: 30%;">发行总量</span>
								 <span><%=obj.totalamount%></span>
								
							</li>
							<li class="licss" style="padding: 10px 20px;margin-bottom: 2px;">
								<span style="width: 30%;">创建者</span>
								<span><a title="<%=obj.createuserAddress%>" href="particulars.html?coinaddress=<%=obj.createuserAddress%>"><%=obj.createuserAddress%></a></span>
								
							</li>
							<li class="licss" style="padding: 10px 20px;margin-bottom: 2px;">
								<span style="width: 30%;">所有者</span>
							
									<span><a title="<%=obj.ownerAddress%>" href="particulars.html?coinaddress=<%=obj.ownerAddress%>"><%=obj.ownerAddress%></a></span>
							</li>
							<li class="licss" style="padding: 10px 20px;margin-bottom: 2px;">
								<span style="width: 30%;">是否允许增发</span>
								<span><%=obj.allowincrease%></objspan>
							</li>
							<li class="licss" style="padding: 10px 20px;margin-bottom: 2px;">
								<span style="width: 30%;">资产说明</span>
								<span><%=obj.info%></span>
							</li>
						
						</ul>
						</script>
						</div>
					</section>
					<div id=""style="text-align: center;">
						<i id="arrow" class="fa fa-angle-double-down fa-2x" style="color: #999999;"></i>
					</div>
					<br />
					
			<div class="ant-table-wrapper" id="btnshow">
				<div style="position: relative;">
					<div class="subtitle" id="div_transaction">
						<span><i class="sub" data-type="1">增发</i><i class="sub" data-type="2">转账</i><i class="sub" data-type="3">所有权</i></span>
						 <div class="tabst" style="display: block; transform: translate3d(0px, 0px, 0px); width: 60px;"></div>
					</div>
					
					
					<section class="box" id="section_transaction">
						<table class="" style="width: 100%;">
							<colgroup>
								<col>
								<col>
								<col>
								<col>
								<col>
								<col>
								<col>
								<col>
							</colgroup>
							<thead class="ant-table-thead tab1">
								<tr>
									<th class="">
										<div>序号</div>
									</th>
									<th class="">
										<div>交易Hash</div>
									</th>
									<th class="">
										<div>区块号</div>
									</th>
									<th class="">
										<div>时间</div>
									</th>
									<th class="">
										<div>接收地址</div>
									</th>
									<th class="tr">
										<div>增发数量(<b class="codes"></b>)</div>
									</th>
									<th class="tr">
										<div>手续费(WDC)</div>
									</th>
								</tr>
							</thead>
						
							
							
					
					<thead class="ant-table-thead tab2">
						<tr>
							<th class="">
								<div>序号</div>
							</th>
							<th class="">
								<div>交易Hash</div>
							</th>
							<th class="">
								<div>区块号</div>
							</th>
							<th class="">
								<div>时间</div>
							</th>
							<th class="">
								<div>发送地址</div>
							</th>
							<th class="">
								<div>接收地址</div>
							</th>
							<th class="tr">
								<div>转账数量(<b class="codes"></b>)</div>
							</th>
							<th class="tr">
								<div>手续费(WDC)</div>
							</th>
						</tr>
					</thead>		
							<thead class="ant-table-thead tab3">
								<tr>
									<th class="">
										<div>序号</div>
									</th>
									<th class="">
										<div>交易Hash</div>
									</th>
									<th class="">
										<div>区块号</div>
									</th>
									<th class="">
										<div>时间</div>
									</th>
									<th class="">
										<div>原地址</div>
									</th>
									<th class="">
										<div>新地址</div>
									</th>
									<th class="">
										<div>手续费(wdc)</div>
									</th>
								</tr>
							</thead>	
								<tbody class="" id="transactions_data_List">
								<script type="text/json" id="tpl1">
									<%if(obj.length==0){%>
									<tr>
									<td class="" colspan="6">aaa</td>
									</tr>
									<%}else{%>
									<% for(var i = 0;i<obj.length;i++){%>
								<tr class="showtr" data-row-key="1">
									<td class="" ><span class="" style="padding-left: 0px;"></span><%=i+1%></td>
									<td title="<%=obj[i].coinHash%>"><%=obj[i].coinHash%></td>
									<td class=""><%=obj[i].coinHeigth%></td>
									<td class="">
										
											<%=obj[i].createTime%>
									    
										</td>
									<td style="width: 20%;">
										<span>
											<a class="cursor" title="<%=obj[i].ownerAddress%>" href="particulars.html?coinaddress=<%=obj[i].ownerAddress%>"><%=obj[i].ownerAddress%></a>
										</span>
									</td>
									
									<td class="tr"><%=obj[i].amount%></td>
									<td class="tr"><%=obj[i].fee%></td>
								</tr>
									<%}}%>
								</script>
							
							<script type="text/json" id="tpl2">
									<%if(obj.length==0){%>
									<tr>
									<td class="" colspan="8">aaa</td>
									</tr>
									<%}else{%>
									<% for(var i = 0;i<obj.length;i++){%>
								
								<tr class="" data-row-key="1">
									<td class=""><span class="" style="padding-left: 0px;"></span><%=i+1%></td>
									<td class="cursor">
								<span class="" title="<%=obj[i].blockHash%>">
								
								<a href="account.html?hash=<%=obj[i].hash%>"><%=obj[i].blockHash%></a>
								</span>
								</td>
									<td class=""><span class=""><%=obj[i].coinHeigth%></span></td>
									<td class=""><span><%=obj[i].createTime%></span></td>
									<td class=""><span>
									<a title="<%=obj[i].fromAddress%>" href="particulars.html?coinaddress=<%=obj[i].fromAddress%>">
									<%=obj[i].fromAddress%>
									</a>
									</span></td>
									
									<td class="">
										<span class="" title="<%=obj[i].coinAddress%>">
									<a title="<%=obj[i].coinAddress%>" href="particulars.html?coinaddress=<%=obj[i].coinAddress%>">
									<%=obj[i].coinAddress%>
									</a>
									</span></td>
									<td class="tr">
										<div class="tr"><%=obj[i].amount%></div>
									</td>
									<td class="tr">
										<div class="tr"><%=obj[i].fee%></div>
									</td>
								</tr>
								
								
							
							<%}}%>
							</script>
							
							<script type="text/json" id="tpl3">
								<%if(obj.length==0){%>
								<tr>
								<td class="" colspan="6">aaa</td>
								</tr>
								<%}else{%>
								<% for(var i = 0;i<obj.length;i++){%>
							<tr class="showtr" data-row-key="1">
								<td class="" ><span class="" style="padding-left: 0px;"></span><%=i+1%></td>
								<td title="<%=obj[i].coinHash%>"><%=obj[i].coinHash%></td>
								<td class=""><%=obj[i].coinHeigth%></td>
								<td  class="">
								
										<%=obj[i].createTime%>
								
								</td>
								<td class="">
								
										<%=obj[i].oldAddress%>
								  
									</td>
									<td class="">
									
											<%=obj[i].newAddress%>
									  
										</td>
								<td class=""><%=obj[i].fee%></td>
							</tr>
								<%}}%>
							</script>
							
							</tbody>
						</table>
					</section>
					
					</div>
					<div class=" compontPagination___3HkDQ" style="margin-top: 47px;">
							<i id="first_page"></i><i id="pre_page"></i>
							<p><span>当前页</span><span class="pageNum___HAhvB" id="curr_page">1</span>
							<span>总页数</span>
							<span class="pageNum___HAhvB" id="totalPage">1</span></p>
							<i id="next_page"></i><i id="last_page"></i>
						</div>
					</div>
				</div>
				
	
			</div>
			
		</div>
		<div id="page_footer"></div>
	<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/blockAssets.js" type="text/javascript" charset="UTF-8"></script>
	<script>
		$("#page_footer").load("footer.html");
		function MyClick(flag) {
			if (flag == 'show') {
				document.getElementById('header-mobile-menu').setAttribute('class', 'header-mobile-menu show');
			}
			if (flag == 'hide') {
				document.getElementById('header-mobile-menu').classList.remove('show')
			}
		}
	</script>
	<script type="text/javascript">
		
	function addEVent(obj,type,fn){
	    var saved=null;
	//判断是否之前有事件，如果有，保存下来
	    if(typeof obj['on'+type]=='function'){
	        saved=obj['on'+type];
	         
	        }  
	//执行
	    obj['on'+type]=function(){
	        if(saved)saved();
	        fn.call(this);
	
	        };
	     
	}
	addEVent(window,'load',function(){
	    var box=document.getElementById('arrow');
	    addEVent(box,'click',toBlue);  
	     
	    });
	 
	function toBlue(){
	    this.className='fa fa-angle-double-up fa-2x';
	    addEVent(this,'click',toRed);
		document.getElementById("btnshow").style.display = "none";
	}
	function toRed(){
	    this.className='fa fa-angle-double-down fa-2x';
	    addEVent(this,'click',toBlue);
		document.getElementById("btnshow").style.display = "block";
	}
	 
	</script>
	  
	</body>
</html>
